 
body {
    background-color: lightgray;
}

html * {
    font-family: Arial;
}

h1,h3 {
    font-family: "Times New Roman";
    font-size: 200%;
    text-align: center;
    color: #994000;
}

p {
  color: #090f0f;
}

li {
    color: blue;
    list-style-type: square;
    padding: 5px;
}

li ul li {
  list-style-type: lower-alpha;
}

em {
    color: orange;
}

a:link {
    text-decoration: none;
}

/* Allow user to know that links are links when the hover over them*/
a:hover {
  color: green;
}

img {
    border-radius: 25px;
}

img:hover {
    opacity: 0.5;
}

pre {
    background-color: gray;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
  border: 2px solid black;
  padding: 10px;
}

nav {
	overflow: hidden;
	background-color: #333;
}

nav a{
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

aside.table {
	float:left;
	width: 50%;
	padding-top: 100px;
}

aside.list {
	float:right;
	width: 50%;
}

footer {
	clear: both;
	padding: 10px;
	text-align: center;
}

/* To view the response status you can inspect the website, select
Network, then Headers. */